<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="Homepage.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">	
	<link rel="stylesheet" type="text/css" href="fontawesome-free-5.9.0-web/css/all.min.css">	
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
	<div class="header">
		<div class="header-top">
			<div class="adress">
				<img src="/img/loom1.png" class="stylelog">
				15 Đong Quan, Quan Hoa, Cau Giay,Ha Noi
			</div>
			<div class="Login">
        <a href="/customers/login" class="btn btn-primary stylelog">Login For Customer</a>
        <a href="/stores/login" class="btn btn-primary stylelog">Login For Store</a>
        <a href="/admins/login" class="btn btn-primary stylelog">Login For Admin</a>
				
			</div>
		</div>
		<div class="banner">
			<img src="/img/bannerweb.png">
		</div>	
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			 <a class="navbar-brand" href="/">Home</a>
			 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href="#">About Us<span class="sr-only">(current)</span></a>
		      </li>
			     <li class="nav-item">
			       <a class="nav-link" href="#">Require</a>
			     </li>
			     <li class="nav-item">
			       <a class="nav-link" href="#">Product</a>
			     </li>
			     <li class="nav-item dropdown">
			       <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          Contact
			       </a>
			       <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			         <a class="dropdown-item" href="#">Action</a>
			         <a class="dropdown-item" href="#">Another action</a>
			         <div class="dropdown-divider"></div>
			         <a class="dropdown-item" href="#">Something else here</a>
			       </div>
			     </li>			     
			   </ul>
			   <form class="form-inline my-2 my-lg-0">
			     <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
			     <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			   </form>
		 	 </div>
			</nav>			
	</div>
	<div class="Content">
		<div class="left">
			<div class="Danhmuc">
				<h2 class="danhmuc-h2">Catogies</h2>
				<ul>
					<li><a href="">Age</a></li>
					<li><a href="">Brand</a></li>
					<li><a href="">Topic</a></li>
					<li><a href="">Boys</a></li>
					<li><a href="">Girl</a></li>
					<li><a href="">Product Sale</a></li>				
				</ul>
			</div>
			<div class="quangcao">
				<img src="/img/hinhquanhquangcao.png">
			</div>
			<div class="Danhmuc Danhmuc2">
				<h2 class="danhmuc-h2">News Special</h2>
				<ul>
					<li><a href="#">New Toys</a></li>
					<hr>
					<li><a href="#">Special Toys</a></li>
					<hr>
					<li><a href="#">Luxury Toys</a></li>
					<hr>	
					<li><a href="#">Benefit Of Toys For Kids</a></li>
					<hr>										
				</ul>
			</div>
		</div>
		<div class="right">
			<div class="Tatcasanpham">
				<h2 class="danhmuc-h2">All Products</h2>
				<div class="row">
					<div class="col-sm-6">
							<div class="sanpham">
									<img class="img-fluid img-thumbnail" src="<%= products[0].img %>">
									<p class="tensp"><%= products[0].p_name %></p>
						<p class="price"><%= products[0].price %> $</p>
						<a class="btn btn-primary d-block" href="/customer/order?productId=<%= products.id %>">Order</a>
								</div>
					</div>
					<div class="col-sm-6">
							<div class="sanpham">
									<img class="img-fluid img-thumbnail" src="<%= products[1].img %>">
									<p class="tensp"><%= products[0].p_name %></p>
						<p class="price"><%= products[0].price %> $</p>
						<a class="btn btn-primary d-block" href="/customer/order?productId=<%= products.id %>">Order</a>
								</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
							<div class="sanpham">
									<img class="img-fluid img-thumbnail" src="<%= products[2].img %>">
									<p class="tensp"><%= products[1].p_name %></p>
						<p class="price"><%= products[1].price %> $</p>
						<a class="btn btn-primary d-block" href="/customer/order?productId=<%= products.id %>">Order</a>
								</div>
					</div>
					<div class="col-sm-6">
							<div class="sanpham">
									<img class="img-fluid img-thumbnail" src="<%= products[3].img %>">
									<p class="tensp"><%= products[2].p_name %></p>
						<p class="price"><%= products[2].price %> $</p>
						<a class="btn btn-primary d-block" href="/customer/order?productId=<%= products.id %>">Order</a>
								</div>
					</div>
				</div>
				<div class="numberpage" style="display: flex; justify-content: center">
					<nav aria-label="Page navigation example">
					  <ul class="pagination">
					    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
					    <li class="page-item"><a class="page-link" href="/?page=1">1</a></li>
					    <li class="page-item"><a class="page-link" href="/?page=2">2</a></li>
					    <li class="page-item"><a class="page-link" href="/?page=3">3</a></li>
					    <li class="page-item"><a class="page-link" href="#">Next</a></li>
					  </ul>
					</nav>
				</div>
			</div>
			<div class="quangcao2">
				<img src="/img/hesoidong.png" class="styleanh">
			</div>			
		</div>
	</div>


</body>
</html>